<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <arg name="simulated_camera" default="true" />
    <arg name="camera_pan_angle" default="-0.605" />
    <arg name="mode" default="predict" />
    <arg name="device_to_use" default="cuda" />
    <arg name="csi_camera" default="true" />
    <arg name="plot_images" default="true" />
    <arg name="max_angular_speed" default="0.2" />
    <arg name="move_speed" default="0.05" />


    <node   name="collision_avoidance_training_node"
            pkg="jetbot_collision_avoidance_pkg"
            type="collision_avoidance_training.py"
            respawn="false"
            output="screen"
            args="$(arg simulated_camera) $(arg camera_pan_angle) $(arg mode) $(arg device_to_use) $(arg csi_camera) $(arg plot_images) $(arg max_angular_speed) $(arg move_speed)">
    </node>

</launch>