<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- This is only for the REAL robot. This is the driver that interfaces with the ROS topics and the hardware-->
    <node   name="ignis_move_node"
            pkg="ignisbot_move_pkg"
            type="ignisbot_move.py"
            respawn="false"
            output="screen"
            args="">
    </node>

    <!-- We launch the tail wag manager, usefull for simulation or real alike-->
    <node   name="tail_wag_node"
            pkg="ignisbot_move_pkg"
            type="tail_wag.py"
            respawn="false"
            output="screen"
            args="">
    </node>

</launch>